<button type="button" class="btn btn-warning me-4">
  <p class="button-font-size text-white">スクール登録</p>
</button>
<button type="button" class="btn btn-primary me-2">
  <p class="button-font-size"><%= link_to "ログアウト", logout_path, method: :delete, class: "text-white text-decoration-none" %></p>
</button>
