<!-- PC表示 -->
<button type="button" class="btn school_registration_btn">
  <p class="button-font-size"><%= link_to "ログイン", login_path, class: "header-link" %></p>
</button>
<button type="button" class="btn school_registration_btn">
  <p class="button-font-size"><%= link_to "新規会員登録", signup_path, class: "header-link" %></p>
</button>

<!-- タブレット・スマホ表示 -->
<div class="ms-auto p-2 bd-highlight d-flex align-items-center">
  <div class="dropdown__header">
    <button type="button" class="dropdown__btn" id="dropdown__btn">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown__body">
      <ul class="dropdown__list">
        <li class="dropdown__item"><%= link_to "ログイン", login_path, class: "dropdown__item-link" %></li>
        <li class="dropdown__item"><%= link_to "新規会員登録", signup_path, class: "dropdown__item-link" %></li>
      </ul>
    </div>
  </div>
</div>
