<div class="wrap_home">
  <div class="background position-relative">
    <div class="position-absolute concept-text">
      <p class="text-white concept-text-title">GI Sports でクラブ、スクールを探そう</p>
    </div>
    <div class="input-group keyword-search">
      <div class="col-md-4 mr-2">
        <input style="height: 60px;" type="text" class="form-control" placeholder="キーワードを入力">
      </div>
    	<span class="input-group-btn">
    		<button style="height: 60px;" type="button" class="search-btn px-4">検索</button>
    	</span>
    </div>
  </div>
  <div class="main_home row justify-content-center">
    <div class="search-by-region p-3 my-4 mx-5 col-6">
      <h5 class="mt-3 mb-4 seotext_00">「地域で検索」ご希望の都道府県から検索できます！</h5>
      <h5 class="mb-auto">北海道・東北地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled wrap">
        <li class="inline-block_home"><a href="">北海道</a><span>,</span></li>
        <li class="inline-block_home"><a href="">青森県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">秋田県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">岩手県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">山形県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">宮城県</a><span>,</span></li>
        <li><a href="">福島県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">関東地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">群馬県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">栃木県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">茨城県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">埼玉県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">千葉県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">東京都</a><span>,</span></li>
        <li><a href="">神奈川県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">甲信越・北陸地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">新潟県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">長野県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">山梨県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">富山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">石川県</a><span>,</span></li>
        <li><a href="">福井県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">中部・東海地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">静岡県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">愛知県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">岐阜県</a><span>,</span></li>
        <li><a href="">三重県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">近畿地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">滋賀県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">京都府</a><span>,</span></li>
        <li class="inline-block_home"><a href="">奈良県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">和歌山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">大阪府</a><span>,</span></li>
        <li><a href="">兵庫県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">中国地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">岡山県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">鳥取県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">島根県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">広島県</a><span>,</span></li>
        <li><a href="">山口県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">四国地方</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">徳島県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">香川県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">高知県</a><span>,</span></li>
        <li><a href="">愛媛県</a><span></span></li>
      </ul>
      <h5 class="mb-auto mt-3">九州地方・沖縄</h5>
      <ul class="list-group list-group-horizontal list-unstyled">
        <li class="inline-block_home"><a href="">福岡県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">佐賀県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">長崎県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">大分県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">熊本県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">宮崎県</a><span>,</span></li>
        <li class="inline-block_home"><a href="">鹿児島県</a><span>,</span></li>
        <li><a href="">沖縄県</a><span></span></li>
      </ul>
    </div>
    <div class="col-4">
      <div class="new-information p-3 ms-5 mt-4">
        <h5 class="mb-3 new-information-title">新着情報</h5>
        <img style="width:100%;" src="https://www.jacpa.co.jp/wp-content/themes/jacpa-new/img/extra-sports/mv.jpg" alt="">
      </div>
      <div class="ranking p-3 ms-5 mt-4">
        <h5 class="mb-3 ranking-title">注目のスポーツランキング</h5>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li class="inline-block"><h5>１位 〇〇</h5></li>
        </ul>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li class="inline-block"><h5>２位 〇〇</h5></li>
        </ul>
        <ul class="list-group list-group-horizontal list-unstyled wrap">
          <li><h5 class="mb-auto">３位 〇〇</h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>
