// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.label_user_new {
  width: 400px;
  margin: 0 auto;
}

.submit_user_new {
  text-align: center;
}
