/* ===== index =====
4. BEGINNER

/*=== 4. BEGINNER ===*/
.message-to-beginner {
  background-color: white;
  border-radius: 15px;
  max-width: 535px;
  flex: 0 0 auto;
  width: 50%;
  padding: 3rem;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .message-to-beginner {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .message-to-beginner {
    max-width: 340px;
    width: 100%;
    padding: 1.5rem;
  }
}

.font-size_beginner {
  font-size: 20px;
}
@media (max-width: 767px) {
  .font-size_beginner {
    font-size: 16px;
  }
}

.message-to-management {
  margin-top: 3rem;
}
@media (max-width: 767px) {
  .message-to-management {
    margin-top: 1.5rem;
  }
}
