/* ===== index =====
6. REVIEW

/*=== 6. REVIEW ===*/
.review-list {
  border-top: 5px solid #993300;
}

.review-container {
  padding: 0 3rem;
}

.review0-text {
  font-size: 20px;
}

.review-background-container {
  padding: 20px;
  border-radius: 8px;
  margin:1rem 3rem 0;
}

.review-background-container-rgb {
  background-color: rgb(204, 255, 204);
}

.writing-date {
  color: rgba(0, 0, 0, 0.5);
}

.review-background-container-efefef {
  background: #EFEFEF;
}
