<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <p class="display-4 mb-auto ms-1 font-weight-bold">GI Sports</p>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <a href="/" class="link-dark biginner me-5">
            <p class="biginner-font-size">はじめての方</p>
          </a>
          <button type="button" class="btn btn-success me-4">
            <p class="button-font-size">新規会員登録</p>
          </button>
          <button type="button" class="btn btn-primary me-2">
            <p class="button-font-size">ログイン</p>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
