<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <p class="display-4 mb-auto ms-2 font-weight-bold">GI Sports</p>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <form class="d-flex">
          <a href="/" class="link-dark biginner me-5">
            <p class="biginner-font-size">はじめての方</p>
          </a>
          <% if logged_in? %>
            <%= render 'sessions/logged_in'%>
          <% else %>
            <%= render 'sessions/not_logged_in' %>
          <% end %>
        </form>
      </div>
    </div>
  </nav>
</header>
